@charset "UTF-8";

html {
font-size: 100%;
}

body {
    color: #333;
}

a {
    color: #333;
}

/*
---------------------
  メイン
---------------------
*/

.flex {
    display: flex;
}

.image .recipe {
    flex: 1;
}

/*
-------------------
  画像
-------------------
*/

.image img {
    max-width: 50vw;
    height: 50vh;
}

/*
----------------------
レシピ
----------------------
*/

.recipe {
    margin: 0 20px;
    height: 50vh;
}

.page-title {
    margin: 10px 0;
}

.recipe p {

}

.content-title {
    width: 100%;

    margin-top: 10px;
    border-bottom: 1px solid #aaa;
}

.ingredient-list {
    width: 100%;
}

.ingredient-list dt {
    width: 80%;
    border-bottom: 1px dotted #aaa;
}

.ingredient-list dd {
    width: 10%;
    border-bottom: 1px dotted #aaa;
}

.step-list li {
    border-bottom: 1px dotted #aaa;
}


/*
-----------------
ボタン
-----------------
*/

.btn {
    border: 1px solid #333;
    padding: 15px 50px;
    margin: 50px auto 0;
}

.btn a {
    text-decoration: none;
}

/*
----------------------
フッター
----------------------
*/

#footer {
  margin: 100px auto 10px;
}

.sns {
    display: flex;
}

.sns li {
    padding: 0 10px;
    list-style: none;
}

#footer p {
  text-align: center;
}
