@charset "UTF-8";

html {
font-size: 100%;
}

body {
    color: #333;
}

a {
    color: #333;
}

dt, dd {
    font-size: 10px;
}

ol li {
    font-size: 10px;
}

/*
---------------------
  メイン
---------------------
*/

.flex {
    display: flex;
    align-items: stretch;
}

.image .recipe {
    flex: 1;
}

/*
-------------------
  画像
-------------------
*/

.image img {
    width: 50vw;
    object-fit: cover;
}

/*
----------------------
レシピ

----------------------
*/

.recipe {
    margin: 0 auto;
    padding: 0 20px;
}

.recipe p {
    font-size: 12px;
}


.page-title {
    margin: 8px 0;
    font-size: 20px;
}


.content-title {
    font-size: 14px;
    width: 50vw;
    margin: 10px auto;
    border-bottom: 1px solid #aaa;
}

.ingredient-list {
    width: 100%;
}

.ingredient-list dt {
    float: left;
    clear: left;
    width: 30vw;
}

.ingredient-list dd {
    padding-left: 50vw;
    border-bottom: 1px dotted #aaa;
}

.step-list {
    width: 50vw;
    padding: 0;
    display: inline-block;
}

.step-list li {
    padding: 15px 0;
    border-bottom: 1px dotted #aaa;
    list-style-position: inside;
}


/*
-----------------
ボタン
-----------------
*/

.btn {
    border: 1px solid #333;
    width: 100px;
    height: 30px;
    padding: 15px auto;
    margin: 100px auto 0;
}

.btn a {
    text-decoration: none;
    font-size: 10px;
}

/*
----------------------
フッター
----------------------
*/

#footer {
  margin: 100px auto 10px;
}

.sns {
    display: flex;
    justify-content: center;
}

.sns li {
    padding: 0 10px;
    list-style: none;
    font-size: 8px;
}

#footer p {
  text-align: center;
  font-size: 8px;
}
