@charset "UTF-8";

html {
font-size: 100%;
}

body {
    color: #333;
}

a {
    color: #333;
}

/*
---------------------
  メイン
---------------------
*/

.flex {
    display: flex;
}

.image .recipe {
    flex: 1;
}

/*
-------------------
  画像
-------------------
*/

.image img {
    width: 50vw;
    height: 50vh;
}

/*
----------------------
レシピ

----------------------
*/

.recipe {
    margin: 0 auto;
    padding: 0 20px;
}

.recipe p {
    font-size: 12px;
}


.page-title {
    margin: 8px 0;
    font-size: 20px;
}


.content-title {
    font-size: 14px;
    width: 45vw;
    margin: 10px auto;
    border-bottom: 1px solid #aaa;
}

.ingredient-list {
    width: 100%;
}

.ingredient-list dt {
    float: left;
    width: 40vw;
}

.ingredient-list dd {
    padding-left: 40vw;
    border-bottom: 1px dotted #aaa;
}

.step-list {
    padding: 0;
    display: inline-block;
}

.step-list li {
    border-bottom: 1px dotted #aaa;
    list-style-position: inside;
}


/*
-----------------
ボタン
-----------------
*/

.btn {
    border: 1px solid #333;
    width: 100px;
    padding: 15px auto;
    margin: 50px auto 0;
}

.btn a {
    text-decoration: none;
    font-size: 10px;
}

/*
----------------------
フッター
----------------------
*/

#footer {
  margin: 100px auto 10px;
}

.sns {
    display: flex;
    justify-content: center;
}

.sns li {
    padding: 0 10px;
    list-style: none;
}

#footer p {
  text-align: center;
}
